#app {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:#00000069;
    background: linear-gradient(to bottom, #00bee1, #006335);
    height: 100vh;
}

#app-container {    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    width: 85vw;
    padding: 0.5rem;
    background-color: #001620;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem #00000093;
}