@font-face {
    font-family: 'San Francisco Pro';
    src: local('San Francisco Pro'), url('../../fonts/SFProDisplay-Regular.ttf') format('truetype');
}

:root {
    --color-darkest: #0d1b2aff;
    --color-primary: #1b263bff;
    --color-secondary: #415a77ff;
    --color-accent: #778da9ff;
    --color-font: #e0e1ddff;
    --color-pop: #ff123eff;
    --color-header: #ff4d6dff;
    --color-scroll: #0b4f6cff;
    --color-hover: #00bee1ff;
}

#app {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color-darkest);
    background: linear-gradient(to bottom, var(--color-accent), var(--color-primary));
    height: 100vh;
    font-family: 'San Francisco Pro', sans-serif;
}

#app-container {    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    width: 85vw;
    padding: 0.5rem;
    background-color: var(--color-secondary);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem var(--color-darkest);
    overflow-x: hidden;
}

@media screen and (max-width: 1080px) {
    #app-container {
        border-radius: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
        box-shadow: 0 0 0;
    }
}