/* CSS HEX
--rich-black-fogra-29: #0d1b2aff;
--oxford-blue: #1b263bff;
--bdazzled-blue: #415a77ff;
--shadow-blue: #778da9ff;
--platinum: #e0e1ddff; */

#engine-select {
    border-radius: 8px;
    background: #778da9ff;
    color: #ffffff;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 8px;
    margin-left: 4px;
}

#engine-select:hover{
    outline: none;
}

#engine-select:active {
    outline: none;
}

#engine-select:focus {
    outline: none;
}