:root {
    --color-darkest: #0d1b2aff;
    --color-primary: #1b263bff;
    --color-secondary: #415a77ff;
    --color-accent: #778da9ff;
    --color-font: #e0e1ddff;
    --color-pop: #ff123eff;
    --color-header: #ff4d6dff;
    --color-scroll: #0b4f6cff;
    --color-hover: #00bee1ff;
}

#engine-select {
    border-radius: 8px;
    background: var(--color-accent);
    color: var(--color-font);
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 8px;
    margin-left: 4px;
}

#engine-select:hover{
    outline: none;
}

#engine-select:active {
    outline: none;
}

#engine-select:focus {
    outline: none;
}