/* CSS HEX
--rich-black-fogra-29: #0d1b2aff;
--oxford-blue: #1b263bff;
--bdazzled-blue: #415a77ff;
--shadow-blue: #778da9ff;
--platinum: #e0e1ddff; */

#query-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.4rem;
    background-color: #415a77ff;
}
.query {
    width: 100%;
    padding-top: 15px;
}

.query-entry {
    height: 1rem;
    padding: 0.5rem;
    width: 80%;
    background-color: #fbfbffbb;
    border: 1px solid #e0e1ddff;
    border-radius: 50px;  
    word-wrap: break-word;
    margin: 4px;
}

.query-entry:hover {
    outline:none;
    color: #e0e1ddff;
    background: #0d1b2aff;
}
.query-entry:focus {
    outline: none;
    color: #e0e1ddff;
    background: #0d1b2aff;
}

.query-entry::placeholder {
    color: #0d1b2aff;
    font-style: italic;
    text-align: center;
}

.query-entry::placeholder:hover {
    color: #e0e1ddff;
}

.query-entry::placeholder:focus {
    color: #e0e1ddff;
}

#query-submit {
    width: 96px;
    height: 32px;
    padding: 0.5rem;
    background-color: #0d1b2aff;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #e0e1ddff;;
    cursor: pointer;
    margin: 0.4rem;
    box-shadow: 0 0.25rem 0.5rem #0d1b2aff;
}

#query-submit:hover {
    background-color: #00bee1ff;
    color: #e0e1ddff;;
}

#query-submit:active {
    background-color: #00bee1ff;
    color: #0d1b2aff;
}

#query-submit:disabled {
    color: rgba(224, 225, 221, 0.336);
    background: #0d1b2a77;
}