
/* CSS HEX
--dark-pastel-green: #20bf55ff;
--blue-sapphire: #0b4f6cff;
--cyan-process: #01baefff;
--ghost-white: #fbfbffff;
--orange-peel: #ffa62bff; */

#query-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 8px;
    background-color: #01baefff;
    border-top-left-radius: 0.5rem;    
    border-top-right-radius: 0.5rem;
}
.query {
    width: 100%;
    padding-top: 15px;
}

.label {
    height: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fbfbffff;
}

.query-entry {
    height: 1rem;
    padding: 0.5rem;
    width: 65%;
    background-color: #fbfbffbb;
    border: 1px solid #fbfbffff;
    border-radius: 50px;  
    word-wrap: break-word;
    margin-left: 4px;
}

.query-entry:hover {
    outline:none;
    background: #fbfbffff;;
}
.query-entry:focus {
    outline: none;
    background: #fbfbffff;;
}

.query-entry::placeholder {
    color: #0b4f6cff;
    font-style: italic;
}

#query-submit {
    align-items: center;
    justify-content: center;
    width: 128px;
    height: 32px;
    padding: 0.5rem;
    background-color: #20bf55ff;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fbfbffff;
    cursor: pointer;
    margin: 8px 0;
    box-shadow: 0 0.25rem 0.5rem #0b4f6cff;
}

#query-submit:hover {
    background-color: #20bf55ff;
}

#query-submit:active {
    background-color: #01baefff;
}