:root {
    --color-darkest: #0d1b2aff;
    --color-primary: #1b263bff;
    --color-secondary: #415a77ff;
    --color-accent: #778da9ff;
    --color-font: #e0e1ddff;
    --color-pop: #ff123eff;
    --color-header: #ff4d6dff;
    --color-scroll: #0b4f6cff;
    --color-hover: #00bee1ff;
}

#query-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.4rem;
    background-color: var(--color-secondary);
}
.query {
    width: 100%;
    padding-top: 15px;
}

.query-entry {
    height: 1rem;
    padding: 0.5rem;
    width: 80%;
    background-color: #fbfbffbb;
    border: 1px solid var(--color-font);
    border-radius: 50px;  
    word-wrap: break-word;
    margin: 4px;
}

.query-entry:hover {
    outline:none;
    color: var(--color-font);
    background: var(--color-darkest);
}
.query-entry:focus {
    outline: none;
    color: var(--color-font);
    background: var(--color-darkest);
}

.query-entry::placeholder {
    color: var(--color-darkest);
    font-style: italic;
    text-align: center;
}

.query-entry::placeholder:hover {
    color: var(--color-font);
}

.query-entry::placeholder:focus {
    color: var(--color-font);
}

#query-submit {
    width: 96px;
    height: 32px;
    padding: 0.5rem;
    background-color: var(--color-darkest);
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-font);
    cursor: pointer;
    margin: 0.4rem;
    box-shadow: 0 0.25rem 0.5rem var(--color-darkest);
}

#query-submit:hover {
    background-color: var(--color-hover);
    color: var(--color-font);
}

#query-submit:active {
    background-color: var(--color-hover);
    color: var(--color-darkest);
}

#query-submit:disabled {
    color: #e0e1dd56;
    background: #0d1b2aa4;
}