@font-face {
    font-family: 'Ostrich Sans';
    src: local('Ostrich Sans'), url('../../fonts/ostrich-sans-regular.ttf') format('truetype');
}

/* CSS HEX
--rich-black-fogra-29: #0d1b2aff;
--oxford-blue: #1b263bff;
--bdazzled-blue: #415a77ff;
--shadow-blue: #778da9ff;
--platinum: #e0e1ddff; */

#header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.8rem;
    color: #fbfbffff;
}

#header-container h1{
    font-family: 'Ostrich Sans', sans-serif;
}