/* CSS HEX
--dark-pastel-green: #20bf55ff;
--blue-sapphire: #0b4f6cff;
--cyan-process: #01baefff;
--ghost-white: #fbfbffff;
--orange-peel: #ffa62bff; */

.resp-card h4 {
    font-style: normal;
    margin-right: 4px;
}

.resp-card {
    display: flex;
    flex-direction: column;
    background: #fbfbffff;
    font-style: italic;
    font-size: 1.2rem;
    margin: 3px;
    padding: 8px;
    text-align: justify;
    text-justify: inter-word;
    border-radius: 0.2rem;
    width: 95%;
    box-shadow: 0 0.25rem 0.5rem #0b4f6cff;
}

.prompt {
    display: flex;
    font-size: .8rem;
    font-style: normal;
    margin-bottom: 8px;
}

.resp {
    display: flex;
    color: #004424;
}

.resp-card-info {
    display: flex;
    justify-content: space-between;
    font-size: .6rem;
    margin-bottom: 8px;
}